<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source =|DataDirectory|\bakeryPR.db"/>
  </connectionStrings>
  <configSections>
    <section name="LoginModel" type="System.Configuration.NameValueSectionHandler" ></section>
  </configSections>
  <LoginModel>
    <add key="username" values="" />
    <add key="status" values="" />
    <add key="pwd" values="" />
  </LoginModel>
  
</configuration>
