<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="username" value="anonymous"/>
    <add key="status" value="active"/>
    <add key="fullname" value="s"/>
    <add key="pwd" value="pass"/>
    <add key="isLogin" value=""/>
    <add key="role" value=""/>
    <add key ="appCodeName" value ="FC6F8490F5C542DAA168CE69D25F24CD"/>
    <add key="key" value=""/>
  </appSettings>

  <!--<configSections>
    <section name="Profile" type="BakeryPR.Utilities.ProfileConfigHelper, BakeryPR" />
  </configSections>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
 <!-- <Profile>
    <properties>
      <add key="username" value="anonymous" />
      <add key="status" value="active" />
      <add key="pwd" value="pass" />
    </properties>
  </Profile>-->

  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source =|DataDirectory|\bakeryPR.db"/>
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
