<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="username" value="anonymous" />
    <add key="status" value="active" />
    <add key="fullname" value="s" />
    <add key="pwd" value="pass" />
    <add key="isLogin" value="" />
    <add key="role" value="" />
  </appSettings>

  <!--<configSections>
    <section name="Profile" type="BakeryPR.Utilities.ProfileConfigHelper, BakeryPR" />
  </configSections>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
 <!-- <Profile>
    <properties>
      <add key="username" value="anonymous" />
      <add key="status" value="active" />
      <add key="pwd" value="pass" />
    </properties>
  </Profile>-->

  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source =|DataDirectory|\bakeryPR.db"/>
  </connectionStrings>

</configuration>
